{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-12 mt-4 mb-4 text-center">
            <form method="post">

                <h1 class="h3 mb-3 font-weight-normal">Mot de passe oublié</h1>
                <label for="inputEmail" class="sr-only">Email</label>
                <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email" required autofocus>

                <button class="btn btn-lg btn-primary mt-3" type="submit">
                    Envoyer le mail
                </button>

            </form>
        </div>
    </div>
</div>
{% endblock %}